<div class="l-overlay">
    <div class="l-modal">
        <div class="text">
            <p>Download your drawing as a PNG file.</p>
            <div class="l-module">
                <div class="l-alignright">
                    <button class="btn btn--gray" {{action 'download' model}}>Download PNG</button>
                </div>
            </div>
            <p>You can also submit your drawing to the Street Ink gallery by filling out some info and clicking the Submit button. Choose your map title carefully, you won't be able to change it once you've submitted your drawing.</p>

            <label class="label">Your Name{{input value=model.author class='input'}}</label>
            <label class="label">Your Email{{input value=model.authorEmail class='input'}}</label>
            <label class="label">Map Title{{input value=model.title class='input'}}</label>
            <div class="l-alignright">
                <button class="btn btn--darkgray" {{action 'save' model}}>Submit Drawing</button>
            </div>
        </div>
        <!-- .text -->
        
        <div class="l-upperright">
            <button class="btn btn--white" {{action 'closeModal' 'saveModal'}}>X</button>
        </div>
        <!-- .l-upperright -->
    </div>
    <!-- .l-modal -->
</div>
<!-- .l-overlay -->
